<footer class="py-x30 type-footnote p-relative" id="footer">
  <div class="container container-lg">

    <h3 class="navbar-brand mb-x3">
      <%= image_tag 'brand-letstalk.svg', class: 'navbar-brand-image' %>
      <span class="text-hide">Let´s Talk</span>
    </h3>

    <p>Copyright © 2018 Let´s Talk. Todos los derechos reservados</p>

    <ul class="menu menu-left mb-x5">
      <li class="menu-item menu-item--inline">
        <a href="#" class="menu-item-link">
          <svg class="" width="16px" height="13px" viewBox="0 0 16 13" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.4642857,0 C14.8690491,0 15.2261897,0.160037091 15.5357143,0.480113636 C15.8452389,0.800190182 16,1.169506 16,1.58806818 L16,11.4119318 C16,11.8304945 15.8452389,12.1998091 15.5357143,12.5198864 C15.2261897,12.8399637 14.8690491,13 14.4642857,13 L1.53571429,13 C1.1309504,13 0.773810971,12.8399637 0.464285714,12.5198864 C0.154760366,12.1998091 0,11.8304945 0,11.4119318 L0,1.58806818 C0,1.169506 0.154760366,0.800190182 0.464285714,0.480113636 C0.773810971,0.160037091 1.1309504,0 1.53571429,0 L14.4642857,0 Z M14.2857143,3.36079545 L14.2857143,1.77272727 L8,6.09375 L1.71428571,1.77272727 L1.71428571,3.36079545 L8,7.68181818 L14.2857143,3.36079545 Z" id="Mail" fill="#FF008C"></path>
          </svg>
          <span> ventas@letstalk.com </span>
        </a>
      </li>
      <li class="menu-item menu-item--inline">
        <a href="#" class="menu-item-link">
          <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.114584,0 C15.3576403,0 15.565972,0.0868046649 15.7395837,0.260416328 C15.9131953,0.434027991 16,0.642359653 16,0.885415982 L16,15.1145833 C16,15.3576401 15.9131953,15.5659713 15.7395837,15.7395834 C15.565972,15.9131953 15.3576403,16 15.114584,16 L11.0416668,16 L11.0416668,9.80208346 L13.1145837,9.80208346 L13.4270824,7.38541751 L11.0416668,7.38541751 L11.0416668,5.84374921 C11.0416668,5.45485955 11.1232634,5.16319523 11.2864591,4.96874923 C11.4496524,4.77430557 11.7673591,4.67708257 12.2395837,4.67708257 L13.5104174,4.66666657 L13.5104174,2.51041695 C13.0729151,2.44791628 12.4548641,2.41666595 11.6562504,2.41666595 C10.7118011,2.41666595 9.95659913,2.69444228 9.3906258,3.2499996 C8.82465015,3.80555925 8.54166582,4.59027324 8.54166582,5.60416722 L8.54166582,7.38541751 L6.45833287,7.38541751 L6.45833287,9.80208346 L8.54166582,9.80208346 L8.54166582,16 L0.885416682,16 C0.642359887,16 0.434028691,15.9131953 0.260416561,15.7395834 C0.0868046882,15.5659713 0,15.3576401 0,15.1145833 L0,0.885415982 C0,0.642359653 0.0868046882,0.434027991 0.260416561,0.260416328 C0.434028691,0.0868046649 0.642359887,0 0.885416682,0 L15.114584,0 Z" fill="#FF008C"></path>
          </svg>
          <span>facebook.com/letstalk </span>
        </a>
      </li>
    </ul>


    <ul class="menu menu-left">
      <% data.navigation.footer.each do |item| %>
      <li class="menu-item menu-item--inline mr-x5">
        <strong><%= item.caption %></strong>

        <ul class="menu">
          <% item.links.each do |item| %>
          <li class="menu-item">
            <%= link_to item.label, item.url, class: 'menu-item-link link-dark' %>
          </li>
          <% end %>
        </ul>

      </li>
      <% end %>
    </ul>

  </div>

  <%= image_tag 'graphic-plants-large.svg',      class: 'graphic-plants-large image-2x' %>
  <%= image_tag 'graphic-selknam.png',           class: 'graphic-selknam image-2x' %>
  <%= image_tag 'graphic-plants-small.svg',      class: 'graphic-plants-small image-2x' %>
  <%= image_tag 'graphic-background-bottom.svg', class: 'graphic-background-bottom image-2x' %>

</footer>
